<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Christ - Christmas Gift Shop HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="./static/img/favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="./static/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/css/ionicons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./static/css/plugins.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="./static/style.css">
    <!-- Modernizer JS -->
    <script src="./static/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

    <!-- Main Wrapper Start -->
    <div id="main-wrapper" class="section">


        <!-- Header Section Start -->
        <div class="header-section section">

            <!-- Header Top Start -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <!-- Header Top Wrapper Start -->
                            <div class="header-top-wrapper">
                                <div class="row">
                                    <!-- Header Logo -->
                                    <div class="header-logo col-md-12 col-12">
                                        <a href="index.html" class="logo"><img src="./static/img/jwilogo2.png" alt="logo"></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Header Top Wrapper End -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top End -->

            <!-- Header Bottom Start -->

            <div>

            </div>

            <!-- Hero Slider Start-->
            <div class="hero-slider section fix">

                <!-- Hero Slide Item Start-->
                <div class="hero-item" style="background-image: url(./static/img/hero/2.jpg)">

                    <!-- Hero Content Start-->
                    <div class="hero-content text-center m-auto">

                        <h2>Joyful Way Cape Coast</h2>
                        <h1>Secret Santa</h1>
                        <p>For God so loved the world that He gave His one and only son, that whosoever belives in Him shall not perish but have an ever lasting life. For God did not sen His son into the world to condem the world, but to save the world through
                            him.
                        </p>
                        <a href="#">LET LOVE LEAD</a>

                    </div>
                    <!-- Hero Content End-->


                </div>
                <!-- Hero Slide Item End-->

                <!-- Hero Slide Item Start-->
                <div class="hero-item" style="background-image: url(./static/img/hero/2.jpg)">

                    <!-- Hero Content Start-->
                    <div class="hero-content text-center m-auto">

                        <h2>Joyful Way Cape Coast</h2>
                        <h1>Secret Santa</h1>
                        <p>"Whatever you did for one of the least of the brothers of mine, you did for me" -- Jesus Christ</p>
                        <a href="#">LET LOVE LEAD</a>

                    </div>
                    <!-- Hero Content End-->


                </div>
                <!-- Hero Slide Item End-->



            </div>
            <!-- Hero Slider End-->
            <div>

            </div>
            <div>
                <div>
                    <label><h3>Select Number</h3></label>
                    <select>
         <option>1</option>
         <option>2</option>
         <option>3</option>
         <option>4</option>
         <option>5</option>
         </select>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Submit
        </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thank You</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                                </div>
                                <div class="modal-body">
                                    Congratulations You are buying a gift for {}. God Bless You
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button trigger modal -->

            </div>


            <!-- Banner Section Start-->
            <div class="banner-section section pt-120">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 mb-30">

                            <div class="single-banner">
                                <img src="./static/img/banner/2.jpg" alt="banner">
                                <div class="banner-content right">
                                    <h1 class="white"><span>Buy Gift</span>For Someone</h1>
                                    <a href="#" class="button">Let Love Lead</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 col-12 mb-30">

                            <div class="single-banner">
                                <img src="./static/img/banner/2.jpg" alt="banner">
                                <div class="banner-content left">
                                    <h2 class="black"><span class="small">Your <span class="red"> Gift</span></span><span class="red">Shouldn't very expensive</span> </h2>
                                    <a href="#" class="link">Let Love Lead</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- Banner Section End-->




        </div>
        <!-- Main Wrapper End -->

        <!-- JS
============================================ -->

        <!-- jQuery JS -->
        <script src="./static/js/vendor/jquery-1.12.0.min.js"></script>
        <!-- Popper JS -->
        <script src="./static/js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="./static/js/bootstrap.min.js"></script>
        <!-- Plugins JS -->
        <script src="./static/js/plugins.js"></script>
        <!-- Ajax Mail JS -->
        <script src="./static/js/ajax-mail.js"></script>
        <!-- Main JS -->
        <script src="./static/js/main.js"></script>
</body>

</html>